body{
    color: #373232;
    font-family: tahoma; 
    display: flex;
    height: 100vh;

}

#app{
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 20px #888;
    padding: 20px;
    border-radius: 20px;
}

.center{
    text-align: center;
}

.startHidden{
    display:none;
}

h3{
    font-weight: normal;
}

p{
    margin: 15px;
}

input{
    font-size: 18px;
    color:#373232;
    margin: 5px;
    width: 80%;
    height: 30px;
    border: 3px solid rgba(128, 128, 128, 0.49);
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

input:focus{
    border: 3px solid rgb(115, 70, 52);
}

button{
    color: aliceblue;
    font-size: 15px;
    margin-top: 5px;
    background-color: rgba(115, 70, 52, 0.727);;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

button:focus, button:hover{
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}

